<template>
    <div
        class="ww-container"
        :class="{
        }"
    >
        <wwLayout
            ref="layout"
            class="ww-container__layout"
            :class="content.direction"
            :style="layoutStyle"
            ww-responsive="ww-layout"
            :direction="content.direction"
            :inherit-from-element="inheritFromElement"
            path="wwObjects"
            @update:list="update"
        >
            <template #default="{ layoutId, item, index }" class="ww-container__item">
                <wwLayoutItem
                    ref="layoutItem"
                    class="ww-container__item"
                    :class="[
                        {
                        },
                    ]"
                    :style="getItemStyle(item, index)"
                    :ww-responsive="`index-${index}`"
                >
                    <wwObject
                        v-bind="item"
                        class="ww-container__object"
                        :data-ww-layout-id="layoutId"
                        :data-ww-layout-index="index"
                        :style="{ flex: wwObjectFlex }"
                        :ww-responsive="`wwobject-${index}`"
                    ></wwObject>
                </wwLayoutItem>
            </template>
        </wwLayout>
    </div>
</template>

<script>
export default {
    inject: {
        parentLevel: { from: 'level', default: 0 },
        objectId: { from: 'objectId' },
    },
    provide() {
        return {
            level: this.level,
        };
    },
    props: {
        content: { type: Object, required: true },
        wwFrontState: { type: Object, required: true },
    },
    emits: ['update:content', 'update:content:effect'],
    data() {
        return {
            dragingHandle: 'start',
            dragingIndex: -1,

            // Optimisation because content change a lot
            layoutStyle: this.getLayoutStyle(),
            wwObjectFlex: this.getWwObjectFlex(),
            inheritFromElement: this.getInheritFromElement(),

        };
    },
    computed: {
        screenSize() {
            return this.wwFrontState.screenSize;
        },
        isBound() {
            // eslint-disable-next-line no-unreachable
            return false;
        },
        level() {
            return this.parentLevel + 1;
        },
    },
    watch: {
        /* wwFront:start */
        screenSize(newVal, oldVal) {
            if (newVal !== oldVal) {
                this.layoutStyle = this.getLayoutStyle();
                this.wwObjectFlex = this.getWwObjectFlex();
            }
        },
        /* wwFront:end */
    },
    mounted() {
    },
    methods: {
        calc(){
            let grid = this.normalizeGrid(this.content.grid); // legacy
                if (this.content.behavior === 'fit') {
                    grid = this.fit(this.content.wwObjects, this.content.grid, this.content.gridDisplay);
                } else {
                    const getNewGridItem = item => {
                        return Math.round(
                            (this.content.lengthInUnit * item) / (this.content.lengthInUnit)
                        );
                    };
                    grid = this.content.grid.map(item => Math.min(getNewGridItem(item), this.content.lengthInUnit));
                }
                if (!_.isEqual(grid, this.content.grid)) this.$emit('update:content:effect', { grid });
        },
        getWwObjectFlex() {
            return this.content.alignItems === 'stretch' ? '1' : 'unset';
        },
        getInheritFromElement() {
            return this.content.type === 'flex' ? ['width'] : [];
        },
        getLayoutStyle() {
            const style = {};

            //DIRECTION
            style.flexDirection = `${this.content.direction}`;
            style.width = 'unset';
            style.flexWrap = 'unset';
            style.justifyContent = 'unset';
            style.overflowX = 'visible';
            style.columnGap = 'unset';
            if (this.content.direction === 'column') {
                style.justifyContent = this.content.justifyContent;
            } else if (this.content.type === 'flex') {
                style.width = '100%';
                style.flexWrap = 'wrap';
                style.justifyContent = this.content.justifyContent;
                style.columnGap = this.content.columnGap;
            } else if (this.content.behavior === 'wrap') {
                style.flexWrap = 'wrap';
                style.justifyContent = this.content.justifyContent;
            } else if (this.content.behavior === 'scroll') {
                style.overflowX = 'auto';
                style.width = '100%';
            }

            return style;
        },
        updateLayoutStyle(oldVal, newVal) {
            if (oldVal !== newVal) {
                this.layoutStyle = this.getLayoutStyle();
            }
        },
        getItemStyle(item, index) {
            const style = {
                display: 'block',
                flexDirection: '',
                justifyContent: 'unset',
                minWidth: 'unset',
                flexShrink: 'unset',
            };

            //Reverse
            if (this.content.reverse) {
                style.order = this.content.wwObjects.length - 1 - index;
            } else {
                style.order = index;
            }

            //wwObject Hidden
            if (this.content.gridDisplay && this.content.gridDisplay[index] === false) {
                style.display = 'none';
                return style;
            }

            //Push last
            if (this.content.pushLast) {
                const push = !this.content.reverse ? index === this.content.wwObjects.length - 1 : index === 0;
                if (push) {
                    if (this.content.direction === 'column') {
                        style.marginTop = 'auto';
                    } else if (this.content.type === 'flex') {
                        style.marginLeft = 'auto';
                    }
                }
            }

            //Column
            if (this.content.direction === 'column') {
                return style;
            }

            style.display = 'flex';

            //Stretch
            if (this.content.alignItems !== 'stretch') {
                style.flexDirection = 'column';
                style.justifyContent = this.content.alignItems;
            }

            //Flex
            if (this.content.type === 'flex') {
                style.minWidth = '40px';
                return style;
            }
            const widthInUnit = this.getGridAt(index);
            style.width = `calc(${widthInUnit} * 100% / ${this.content.lengthInUnit})`;
            style.flexShrink = '0';

            return style;
        },
        getGridAt(index, grid) {
            index = this.isBound ? 0 : index;
            grid = grid || this.content.grid;
            if (!grid) return 0;

            if (Array.isArray(grid)) {
                if (index >= grid.length) {
                    return grid[0] || 0;
                } else {
                    return grid[index];
                }
            } else {
                //LEGACY
                if (index >= this.content.wwObjects.length) {
                    return 0;
                } else {
                    return grid[this.content.wwObjects[index].uid.split('_')[0]];
                }
            }
        },
        update(event) {
        },
        getNewGrid(event, gridDisplay) {
            let grid;
            switch (event.type) {
                case 'add': {
                    const index = Math.max(0, event.index - 1);
                    grid = [...this.content.grid];
                    grid.splice(event.index, 0, this.content.grid[index] || this.content.lengthInUnit);
                    if (this.content.behavior === 'fit') {
                        grid = this.fit(event.list, grid, gridDisplay);
                    }
                    break;
                }
                case 'remove':
                    grid = [...this.content.grid];
                    grid.splice(event.index, 1);
                    if (this.content.behavior === 'fit') {
                        grid = this.fit(event.list, grid, gridDisplay);
                    }
                    break;
                case 'move':
                    grid = this.moveItem(this.content.grid, event.fromIndex, event.index);
                    break;
            }

            grid = grid.map(item => Math.min(item, this.content.lengthInUnit));

            return grid;
        },
        moveItem(grid, fromIndex, toIndex) {
            const list = [...grid];
            const [item] = list.splice(fromIndex, 1);
            if (fromIndex < toIndex) toIndex--;
            list.splice(toIndex, 0, item);
            return list;
        },
        fit(list, grid, gridDisplay) {
            gridDisplay = list.map((_, index) => (gridDisplay[index] === false ? false : true));
            let totalGrid = list.reduce((total, item, i) => total + (gridDisplay[i] ? grid[i] : 0), 0);
            const lengthInUnit = this.content.lengthInUnit;
            if (totalGrid === lengthInUnit && list.length === grid.length) return grid;

            const visibleWwObjectCount = Math.max(1, gridDisplay.filter(value => value !== false).length);

            const itemLength = Math.floor(lengthInUnit / visibleWwObjectCount);
            const firstItemLength = lengthInUnit - (visibleWwObjectCount - 1) * itemLength;

            const firstVisibleItemIndex = gridDisplay.findIndex(isVisible => isVisible);
            return list.map((_, index) => {
                if (!gridDisplay[index]) return itemLength;
                return firstVisibleItemIndex === index ? firstItemLength : itemLength;
            });
        },
    },
};
</script>

<style scoped lang="scss">
.ww-container {
    position: relative;
    box-sizing: border-box;
    --ww-container-color: var(--ww-color-yellow-400);

    &__layout {
        display: flex;
        height: 100%;
        &::-webkit-scrollbar-thumb {
            background-color: #808080;
        }
        &::-webkit-scrollbar-track {
            background-color: #ffffff00;
        }
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            background-color: #ffffff00;
        }
        :deep(*) > .ww-layout__placeholder {
            flex: 1;
        }
    }

    &__item {
        position: relative;
        box-sizing: border-box;

    }
}
</style>
