<template>
    <transition name="fade" mode="out-in">
        <div
            v-show="(isDisplayed && !closed && !isEditing) || cEditPopup"
            class="popup-container"
            :style="style"
            ww-responsive="popup-container"
        >
            <div v-if="!content.customCloseElement" class="close-container" @click="closePopup">
                <wwElement v-bind="content.icon" />
            </div>
            <wwLayout class="ww-absolute-popup" path="popupContent" direction="column">
                <template #default="{ item }">
                    <wwLayoutItem class="ww-absolute-popup-item">
                        <wwElement v-bind="item" />
                    </wwLayoutItem>
                </template>
            </wwLayout>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        content: { type: Object, required: true },
        wwSectionState: { type: Object, required: true },
    },
    emits: ['update:content'],
    data() {
        return {
            isDisplayed: false,
            closed: false,
            editPopup: false,
        };
    },
    computed: {
        cEditPopup() {
            return this.isEditing && this.editPopup;
        },
        isEditing() {
            // eslint-disable-next-line no-unreachable
            return false;
        },
        style() {
            switch (this.content.absoluteReference) {
                case 'topLeft':
                    return {
                        '--top': this.content.positionY,
                        '--left': this.content.positionX,
                        '--bottom': 'initial',
                        '--right': 'initial',
                        '--transform': this.content.adjustForCenter ? 'translateX(-50%) translateY(-50%)' : '',
                    };
                case 'topRight':
                    return {
                        '--top': this.content.positionY,
                        '--left': 'initial',
                        '--bottom': 'initial',
                        '--right': this.content.positionX,
                        '--transform': this.content.adjustForCenter ? 'translateX(50%) translateY(-50%)' : '',
                    };
                case 'bottomLeft':
                    return {
                        '--top': 'initial',
                        '--left': this.content.positionX,
                        '--bottom': this.content.positionY,
                        '--right': 'initial',
                        '--transform': this.content.adjustForCenter ? 'translateX(-50%)' : '',
                    };
                case 'bottomRight':
                    return {
                        '--top': 'initial',
                        '--left': 'initial',
                        '--bottom': this.content.positionY,
                        '--right': this.content.positionX,
                        '--transform': this.content.adjustForCenter ? 'translateX(50%)' : '',
                    };

                default:
                    return {};
            }
        },
    },
    mounted() {
        /* wwFront:start */
        //Do not open popup in prerender
        if (window.__WW_IS_PRERENDER__) return;

        if (this.content.behavior === 'timeout') this.initTimeoutBehavior();
        if (this.content.behavior === 'scroll') this.initScrollBehavior();
        /* wwFront:end */

        wwLib.$on('wwLink:closePopup', this.closePopup);
    },
    beforeUnmount() {
        clearTimeout(this.timeout);
        wwLib.getFrontDocument().removeEventListener('scroll', this.scrollListener);
        wwLib.$off('wwLink:closePopup', this.closePopup);
    },
    methods: {
        initTimeoutBehavior() {
            const delay = this.content.timeoutOptions.slice(0, -1);
            this.timeout = setTimeout(() => {
                if (this.isEditing) return;
                this.isDisplayed = true;
            }, delay * 1000);
        },
        initScrollBehavior() {
            this.scrollListener();
            wwLib.getFrontDocument().addEventListener('scroll', this.scrollListener);
        },
        scrollListener() {
            if (this.content.reference === 'section') {
                const sectionElement = wwLib
                    .getFrontDocument()
                    .querySelector(`[data-section-uid="${this.content.sectionSelected}"]`);
                if (sectionElement && window.scrollY >= sectionElement.offsetTop) {
                    this.isDisplayed = true;
                }
            } else if (this.content.reference === 'pixel') {
                const [value] = wwLib.wwUtils.getLengthUnit(this.content.scrollPixel);
                if (window.scrollY >= value) this.isDisplayed = true;
                else if (this.content.hide && window.scrollY <= value) this.isDisplayed = false;
            }
        },
        closePopup() {
            this.closed = true;
        },

    },
};
</script>

<style lang="scss" scoped>
.popup-container {
    width: auto !important;
    min-height: unset !important;
    z-index: 100;
    position: fixed;
    top: var(--top);
    left: var(--left);
    bottom: var(--bottom);
    right: var(--right);
    transform: var(--transform);

    .close-container {
        z-index: 100;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

// FADE
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>
