<template>
    <div class="langs" :style="cssVariable" @mouseenter="isMouseInHandler(true)" @mouseleave="isMouseInHandler(false)">
        <div class="currentLang-container" @click="showDropdown">
            <div class="lang-container">
                <wwLayout v-if="content.leftLayout" :path="`langLayout[${getCurrentLangIndex + 1}]`"></wwLayout>
                <wwElement v-bind="content.currentLangText" :ww-props="{ text: formatLangString(getCurentLang) }" />
            </div>
        </div>
        <div v-show="isLang || isContentEdit" class="langs-container">
            <div v-for="(lang, index) in getLangs" :key="index" class="lang-container" @click="changeLang(lang)">
                <wwLayout v-if="content.leftLayout" :path="`langLayout[${index + 1}]`"></wwLayout>
                <wwElement v-bind="content.langText" :ww-props="{ text: formatLangString(lang) }" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        content: { type: Object, required: true },
    },
    data() {
        return {
            isLang: false,
            isContentEdit: false,
            isMouseIn: false,
        };
    },
    computed: {
        isEditing() {
            // eslint-disable-next-line no-unreachable
            return false;
        },
        getLangs() {
            return wwLib.wwWebsiteData.getCurrentPage().langs;
        },
        getCurentLang() {
            return wwLib.wwLang.lang;
        },
        getCurrentLangIndex() {
            return this.getLangs.indexOf(this.getLangs.find(lang => lang === this.getCurentLang));
        },
        getDefaultLang() {
            return wwLib.wwWebsiteData.getInfo().langs.filter(lang => lang.default)[0].lang;
        },
        cssVariable() {
            return {
                '--backgroundColor': this.content.backgroundColor,
                '--hoverColor': this.content.hoverColor,
                '--alignement': this.content.leftLayout ? 'flex-start' : 'center',
            };
        },
    },
    mounted() {
        wwLib.getFrontDocument().addEventListener('click', () => {
            if (this.isMouseIn) return;
            this.isLang = false;
        });
    },
    created() {
        wwLib.$on('ww-lang-dropdown:opened', () => {
            this.isLang = false;
        });
    },
    beforeUnmount() {
        wwLib.$off('ww-lang-dropdown:opened');
    },
    methods: {
        changeLang(lang) {
            this.showDropdown();
            /* wwFront:start */
            const currentPagePaths = wwLib.wwWebsiteData.getCurrentPage().paths || { default: '' };
            const currentPageRoute = currentPagePaths[lang] || currentPagePaths.default;
            const isHomePage = wwLib.wwWebsiteData.getCurrentPageId() === wwLib.wwWebsiteData.getInfo().homePageId;
            const isDefaultPath = wwLib.wwWebsiteData.getInfo().langs.find(lang => lang.isDefaultPath);
            const path = `${lang === this.getDefaultLang && !isDefaultPath ? '' : '/' + lang}${
                isHomePage ? '/' : '/' + currentPageRoute
            }`;
            wwLib.goTo(path);
            /* wwFront:end */
        },
        formatLangString(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        },
        showDropdown() {
            if (this.isLang) {
                this.isLang = false;
                return;
            }

            // eslint-disable-next-line vue/custom-event-name-casing
            wwLib.$emit('ww-lang-dropdown:opened');
            this.isLang = true;
        },
        toggleEdit() {
            this.isContentEdit = !this.isContentEdit;
        },
        isMouseInHandler(value) {
            this.isMouseIn = value;
        },
    },
};
</script>

<style lang="scss" scoped>
.langs {
    position: relative;
    .currentLang-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .langs-container {
        overflow: hidden;
        margin-top: 6px;
        z-index: 1000;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        background-color: var(--backgroundColor);
    }
    .lang-container {
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: var(--alignement);
        align-items: center;

        width: 100%;
        transition: 0.2s;

        &:hover {
            transition: 0.2s;
            background-color: var(--hoverColor);
        }
    }
}
</style>
