<template>
    <div
        class="ww-snipcart-button snipcart-add-item"
        :data-item-id="content.id"
        :data-item-url="content.url"
        :data-item-price="content.price"
        :data-item-description="content.description"
        :data-item-image="content.image"
        :data-item-name="content.name"
        v-bind="properties"
        :class="{ editing: isEditing, selected: isSelected }"
    >
        <wwElement v-bind="content.button"></wwElement>
    </div>
</template>

<script>
export default {
    props: {
        content: { type: Object, required: true },
    },
    computed: {
        isEditing() {
            // eslint-disable-next-line no-unreachable
            return false;
        },
        isSelected() {
            // eslint-disable-next-line no-unreachable
            return false;
        },
        properties() {
            if (!this.content.customProps) return {};
            let props = {};

            for (let item of this.content.customProps) {
                if (item && item.property) {
                    props[item.property] = item.value || '';
                }
            }

            return props;
        },
    },
};
</script>

<style lang="scss" scoped>
.ww-snipcart-button {
}
</style>
